:root{
    --one:"Roboto";
}

a{
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.wrapper{ 
    width: 900px;
    margin: 0 auto;
    scroll-behavior: smooth;
    padding-left: 10px;
    padding-right: 10px;
}